<html>
    <head>
        <title>Word of the Day</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% load static %}
        <script type="text/javascript" href="{% static 'myscript.js' %}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Diktionary.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lucky</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Merchandise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
    <body class = "align-items-center container ">
        <!-- <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div> -->
        <h1 class = "text-center"> Your Word: {{word}} </h1>
        <br>
        <h1 class = "text-center"> Definition : {{definition}} </h1>
        <br>
        <h2 class = "text-center"> Part of Speech : {{partOfSpeech}} </h2>
            <br>
        <div id="the_form">
          {% block content %}
            <form method="POST">{% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Submit</button>
            </form>
          {% endblock %}
        </div>
            </div>
            </div>
            <br>
            <div class="col-md-12 text-center">
                <a class="btn btn-lg btn-primary" href="{% url 'index' %}">I'm Feeling Lucky</a>
                <!-- <button id = "luckyButton" type="button" class="btn btn-primary btn-lg" onClick= {url 'myapp:mypage'}>I'm Feeling Lucky</button> -->
            </div>
    </body>
</html>